.form {
    width: 23rem;
    height: auto;
    margin: 0 0 0 auto;
    text-align: right;
    grid-area: a;
    display: grid;
    grid-template-columns: 75% 25%;
}

.form-box {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-template-areas: ". . a";
    justify-content: space-evenly;
}

.form-input {
    border: 0;
    outline: none;
    background-color: transparent;
    padding: .5rem .6rem;
    border: .1rem solid rgba(255, 255, 255, .4);
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
        font-size: .9rem;
        color: rgba(255, 255, 255, .6);
    }

    &:focus {
        box-shadow: inset 0 0 2px $colorLight;
    }
}

.form-btn {
    @include bgColor;
    outline: none;
    border: 0;
    padding: .5rem 2rem;
    border-radius: .1rem;
    box-sizing: border-box;
    transition: .1s;
    cursor: pointer;

    .fas {
        color: $colorLight;
        font-size: 1rem;
    }

    &:hover {
        background: linear-gradient(to right bottom,
        rgba(255, 255, 255, .9),
        rgba(255, 255, 255, .3));
    }

    &:hover>.fas {
        color: black;
    }
}

.autocomplete-users-box {
    position: absolute;
    top: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-template-areas: ". . b";
    justify-content: space-evenly;
}

.autocomplete-users {
    background: $bgMain;
    margin: 0 0 0 auto;
    width: 23rem;
    height: 20rem;
    grid-area: b;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: inset 0 0 5px $colorLight;
    box-sizing: border-box;
    z-index: 2;

    &::-webkit-scrollbar {
        display: none;
    }
}

.autocomplete-item {
    width: 100%;
    padding: .4rem .5rem;
    display: grid;
    grid-template-columns: 20% 75%;
    align-items: center;
}

.user-username {
    margin-bottom: .5rem;
    font-weight: 600;
}

.user-img-autocomplete {
    display: block;
    width: 80%;
    border-radius: 50%;
}

.user-autocomplete-link {
    color: black;
    text-decoration: none;
    font-size: .9rem;
    padding: .2rem .5rem .2rem 0;
    border-bottom: 1px solid $colorLight;
    border-radius: .1rem;
    transition: .1s;
    display: inline-block;

    &:hover {
        transform: scale(1.05);
    }
}

@media #{$mobileScreen} {
   .form-box {
       margin: 0 auto;
       grid-template-columns: 90%;
       grid-template-areas: "a";
   }

   .form {
       width: 100%;
   }

   .autocomplete-users-box {
        grid-template-columns: 90%;
        grid-template-areas: "b";
    }

    .autocomplete-users {
        width: 100%;
    }

   .form-btn {
       padding: 0;
   }
}

@media #{$mobileLargeScreen, $tableScreen, $laptopScreen} {
    .form-box {
        grid-template-columns: 35% 56%;
        grid-template-areas: ". a";
    }

    .autocomplete-users-box {
        grid-template-columns: 35% 56%;
        grid-template-areas: ". b";
    }
}
