body {
    background: $bgMain;
}

.users-list {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
}


.title {
    font-family: $fontOpenSans;
    font-size: 2.5rem;
    margin: 2rem 0 3rem 0;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 1550px) {
    .container {
        width: 100%;
        padding: 1rem;
    }
}

@media #{$mobileScreen} {
    .users-list {
        grid-template-columns: 90%;
    }

    .title {
        font-size: 2.1rem;
        line-height: 2.6rem;
    }
}

@media #{$mobileLargeScreen, $tableScreen} {
    .users-list {
        grid-template-columns: 46% 46%;
    }
}

@media #{$mobileScreen}, #{$mobileLargeScreen}, #{$tableScreen} {
    body, html {
        overflow-x: hidden;
    }
}
