$fontOpenSans: 'Open Sans', sans-serif;
$bgLight: linear-gradient(to right bottom,rgba(255, 255, 255, .6), rgba(255, 255, 255, .3));
$bgMain: linear-gradient(to right bottom, #65c3df, #6caeeb);
$colorMain: #2883d8;
$colorLight: rgba(255, 255, 255, .9);

@mixin bgColor {
    background-color: white;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .5),
    rgba(255, 255, 255, .1));
}